.vs/WorkingTimeTracker/v14/.suo
WorkingTimeTracker/bin/Debug/WorkingTimeTracker.exe
WorkingTimeTracker/bin/Debug/WorkingTimeTracker.pdb
WorkingTimeTracker/bin/Debug/data_days.txt
WorkingTimeTracker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WorkingTimeTracker/obj/Debug/WorkingTimeTracker.csproj.FileListAbsolute.txt
WorkingTimeTracker/obj/Debug/WorkingTimeTracker.csproj.GenerateResource.Cache
WorkingTimeTracker/obj/Debug/WorkingTimeTracker.csprojResolveAssemblyReference.cache
WorkingTimeTracker/obj/Debug/WorkingTimeTracker.exe
WorkingTimeTracker/obj/Debug/WorkingTimeTracker.pdb
